header nav {
    padding-top: 20px;
    padding-bottom: 20px;
    .navbar-item {
      color: #728495;
      background: transparent;
      &:hover {
        color: lighten(#728495, 15%);
      }
    }
}
