<header>
  <nav class="container" role="navigation" aria-label="main navigation">
      <div class="columns is-mobile">        
        <div class="column is-full-mobile">
          <div class="moon-navbar-burger">
            <img src="assets/img/menu-burger.png" alt="toggle" class="image">
          </div>
          
          <div class="logo">
            <img src="assets/img/logo.png" style="max-height: 3rem; margin: 0 auto!important;"/>
          </div>
        </div>
        <div class="column is-three-quarters-tablet">
          <div class="navbar-end">
            <div class="nav-menu-items">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Features</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>
          </div>          
        </div>
      </div>
    </nav>    
</header>