nav {
  background-color: inherit;
  .navbar-item {
    margin-right: 25px;
    margin-top: 10px;
  }
  .navbar-burger img {
    margin-top: 25px;
  }
  .navbar-item a {
    color: #728495;
    background: transparent;
    &:hover {
      color: lighten(#728495, 15%);
    }
  }
}

// mobile
@media only screen and (max-width: 768px) { 
  .navbar-brand { 
    display: inline-block; 
    width: 100%;
  }

  .navbar-burger {
    position: absolute;
    top: 0px;
    left: 10px;
    display: block!important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  nav {
    display: inline-block;
    width: 100%;
    background-color: inherit!important;
  }

  .navbar-menu {
    background-color: inherit!important;
    box-shadow: none!important;
  }

  .navbar-burger {
    display: none!important;
  }

  .navbar-brand {
    float: left!important;
  }

  .navbar-menu {
    float: right;
    // max-width: 600px;
    display: block;
  }

  .navbar-menu .navbar-item {
    display: inline-block;
  }

}