<section id="newsletter">
    <div class="container newsletter-inner">      
        <div class="seperator"></div>
        <h3 class="has-text-centered is-size-3 has-text-white has-text-weight-bold">At vero eos et accusamus et iusto </h3>
        <p class="has-text-centered">Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br/> accusantium doloremque</p>
        <div id="subscriberform" class="mt-5">
            <div class="columns is-mobile is-multiline">
                <div class="column is-full-mobile is-two-thirds-desktop  is-two-thirds-tablet">
                    <input type="text" placeholder="enter your email..." class="subscriber-textfield"/>
                </div>
                <div class="column is-full-mobile">
                    <button class="subscriber-btn">Get Started</button>
                </div>
            </div>
        </div>        
    </div>
</section>