<section class="mt-5">
    <div class="container">
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-full-mobile  is-horizontal-center-mobile">
                <div>
                    <div class="seperator"></div>
                    <h2 class="is-size-4 has-text-white mt-3">Get moon app on your mobile phone now</h2>
                    <p>Sed ut perspiciatis unde omnis<br/> iste natus error sit voluptatem accusantium doloremque</p>
                </div>
                <div class="columns mt-5 is-mobile is-horizontal-center-mobile">
                    <div class="column">
                        <img src="assets/img/Google-Play-Badge-US.png" class="image"/>
                    </div>
                    <div class="column">
                        <img src="assets/img/AppStoreBadgeUSBlack.png" class="image"/>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-two-thirds-desktop is-horizontal-center-mobile">
                <img src="assets/img/GraphicDesktop.png" class="image"/>
            </div>
        </div>
    </div>
</section>
