@media only screen and (max-width: 768px) { 
    .is-horizontal-center-mobile { 
        text-align: center;
    }

    .is-horizontal-center-mobile img {
        margin: 0 auto;
        width: 70%;
    }
}
