<div class="hero">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-full-mobile is-three-fifths-tablet is-half-desktop is-horizontal-center-mobile">             
                <div id="subscriberform">
                    <h1 class="heading">At vero eos et ac
                        cusamus et iusto </h1>
                    <p class="paragraph mb-5">
                        Ut perspiciatis unde omnis iste natus error sit<br/> voluptatem accusantium doloremque.                    
                    </p>                            
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-full-mobile is-two-thirds-tablet">
                            <input type="text" placeholder="enter your email..." class="subscriber-textfield"/>
                        </div>
                        <div class="column is-full-mobile">
                            <button class="subscriber-btn">Get Started</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="column is-mobile">
                <img src="assets/img/polygen.png" class="image"/>
            </div>
          </div>        
    </div>    
</div>