footer {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #0A0C29;
}

footer .widget {
    margin-top: 25px;
}

footer .widget h3 img {
    display: none;
}

footer .widget ul {
    margin-top: 10px;
}

footer .widget ul li {
    margin-top: 8px;
}

footer .widget ul li a {
    color: rgb(189, 188, 188);
}

footer .widget ul li a:hover {
    color: rgb(255, 253, 253);
}

.copyrightbar {
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) { 

    .container { 
        margin-left: 20px;
        margin-right: 20px;
    }

    .is-horizontal-center-mobile { 
        text-align: center;
    }

    .is-horizontal-center-mobile img {
        margin: 0 auto;
    }

    footer .widget ul { 
        display: none;
    }

    footer .widget h3 {
        text-decoration: none!important;
    }

    footer .widget h3 img {
        display: block;
    }

    footer .widget h3:hover {
        cursor: pointer;
    }

    footer .widget:hover ul {
        margin-left: 20px;
        transition: all .5s ease-in-out;
        display: block!important;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
         -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
             animation: fadein 2s;     
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    
    footer .column {
        padding: 0rem 0.75rem!important
    }
}
