footer {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #0A0C29;
}

footer .widget {
    margin-top: 25px;
}

footer .widget ul {
    margin-top: 10px;
}

footer .widget ul li {
    margin-top: 8px;
}

footer .widget ul li a {
    color: rgb(189, 188, 188);
}

footer .widget ul li a:hover {
    color: rgb(255, 253, 253);
}

.copyrightbar {
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) { 

    .container { 
        margin-left: 20px;
        margin-right: 20px;
    }

    .is-horizontal-center-mobile { 
        text-align: center;
    }

    .is-horizontal-center-mobile img {
        margin: 0 auto;
        // width: 70%;
    }
}
