.pt-100  {
    padding-top: 100px;
}

.pt-200 {
    padding-top: 200px;
}

.pb-100  {
    padding-bottom: 100px;
}

#frame2162 {
    background: linear-gradient(99.28deg, rgba(18, 30, 60, 0.65) -3.14%, rgba(22, 33, 68, 0.32) 110.32%);
    border-radius: 33.8507px;
}

.shadow {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.mx-auto {
    margin: 0 auto;
}

.seperator {
    width: 60px; height: 5px; background: linear-gradient(45deg, #009EF7 0%, #32EF9D 100%);
}


h1, h2 {
    font-family: Touche;
    font-style: normal;
    font-weight: bold;
}


a {
    color: #1cc7d0;
}

a:hover {
    color: #19acb4;
}