<section class="pb-100">
    <div class="container">
        <div class="columns is-mobile shadow pb-5 pt-5">
           <div class="column is-offset-2">
               <div class="has-text-centered">
                    <h2 class="is-size-2">
                        <span class="has-text-white">5000</span>
                        <span class="has-text-primary">+</span>
                    </h2>
                    <p>Iste natus error sit Sed ut</p>
               </div>
           </div>
           <div class="column">
                <div class="has-text-centered">
                    <h2 class="is-size-2">
                        <span class="has-text-white">1250</span>
                        <span class="has-text-primary">+</span>
                    </h2>
                    <p>Ullamco laboris nisi ut</p>      
                </div>         
           </div>
           <div class="column">
                <div class="has-text-centered">
                    <h2 class="is-size-2">
                        <span class="has-text-white">3000</span>
                        <span class="has-text-primary">+</span>
                    </h2>
                    <p>Sed ut pers piciatis unde</p>
                </div>
           </div>
        </div>
    </div>
</section>