<section id="crptocompare">
    <div class="container">
        <div class="seperator"></div>
        <h2 class="has-text-centered is-size-3 has-text-white mt-5">
            Excepteur sint occaecat cupidatat non proident
        </h2>
        <p class="has-text-centered mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br/> accusantium doloremque</p>
      
        <p class="mt-5 has-text-centered"><a href="#">See more <span class="icon">
            <i class="fas fa-arrow-right"></i>
          </span></a></p>        

        <div class="columns px-5 is-mobile mt-5 is-multiline">
            <div class="column">
                <div class="columns is-mobile is-gapless shadow">
                    <div class="column is-two-fifth">
                        <img src="assets/img/bitcoin-icon.png" height="103" width="103">
                    </div>
                   <div class="column">
                       <div class="mt-5 has-text-white	">
                            <p>Bitcoin</p>
                            <p class="is-size-5	 has-text-weight-bold">$53.863,9</p>
                       </div>
                   </div>
                   <div class="column is-one-quarter">
                        <img src="assets/img/Frame 2163.png" class="mt-5"  height="44.3" width="47.7"/>
                   </div>
                </div>                
            </div>
            <div class="column is-full-mobile">
                <div class="columns is-mobile is-gapless shadow">
                    <div class="column is-two-fifths">
                        <img src="assets/img/eth-icon.png"  height="103" width="103">
                    </div>
                   <div class="column">
                       <div class="mt-5 has-text-white">
                            <p>Bitcoint</p>
                            <p class="is-size-5	 has-text-weight-bold">$53.863,9</p>
                       </div>
                   </div>
                   <div class="column is-one-quarter">
                        <img src="assets/img/Frame 2163.png" class="mt-5"  height="44.3" width="47.7"/>
                   </div>
                </div> 
            </div>
            <div class="column">
                <div class="columns is-mobile is-gapless shadow">
                    <div class="column is-two-fifth">
                        <img src="assets/img/bitcoint.png" height="103" width="103">
                    </div>
                   <div class="column">
                       <div class="mt-5 has-text-white	">
                            <p>Ethereum</p>
                            <p class="is-size-5	 has-text-weight-bold">$53.863,9</p>
                       </div>
                   </div>
                   <div class="column is-one-quarter">
                        <img src="assets/img/down-6_43.png" class="mt-5"  height="44.3" width="47.7"/>
                   </div>
                </div>                 
            </div>
        </div>
    </div>
</section>